:root {
  --color-black-900: #141726;
  --color-black-700: #1e2239;
  --color-black-500: #2a3050;

  --color-white: #bcc1dc;
  --color-pink: #bf047e;
  --color-purple: #73024b;
  --color-blue: #03658c;
  --color-teal: #0396a6;

  --shadow-level-0: 0px 0px 4px -2px black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: var(--color-black-900);
  color: var(--color-teal);
  font-size: 16px;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-black-900);
}

::-webkit-scrollbar-thumb {
  background: var(--color-black-500);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}
