.buttonWrapper {
  display: inline-flex;
}

.button,
button {
  background: var(--color-editor-toolbar-button);
  color: var(--color-text);
  border: none;
  font-size: 1rem;
}

.button svg {
  fill: var(--color-text);
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  cursor: pointer;
  background: var(--color-editor-toolbar-button);
  outline: 0;
}

button:disabled {
  color: var(--color-editor-toolbar-button-disabled);
  cursor: not-allowed;
}

.active {
  color: var(--color-editor-toolbar-button-active);
}

.active svg {
  fill: var(--color-editor-toolbar-button-active);
}
