.buttonWrapper {
  display: inline-flex;
}

.button {
  background: var(--color-black-700);
  color: var(--color-teal);
  border: none;
  font-size: 1rem;
}

.button svg {
  fill: var(--color-teal);
}

.button:hover,
.button:focus {
  cursor: pointer;
  background: var(--color-black-700);
  outline: 0;
}

.active {
  color: var(--color-purple);
}

.active svg {
  fill: var(--color-purple);
}
