.emojiSuggestions {
  margin-top: 1.75em;
  position: absolute;
  max-width: 440px;
  background: var(--color-black-700);
  box-shadow: var(--shadow-level-0);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transform: scale(0);
}

.emojiSuggestionsEntry {
  padding: .5em;
  transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
}

.emojiSuggestionsEntry:active {
  background-color: var(--color-black-500);
}

.emojiSuggestionsEntryFocused {
  padding: .5em;
  background-color: var(--color-black-500);
}
